.header{
    position: relative;
    padding: 28px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &.active{
        .nav{
            transform: translateX(0);
        }

        .nav-opener{
            span{
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::before{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after{
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.logo{
    @include breakpoint ('md'){
        padding: 50px;
    }

    @include breakpoint ('xs'){
        padding: 0 0 0 45px;
    }
     
    &__img{
        max-width: 112px;

        @include breakpoint ('sm'){
            max-width: 90px;
        }
    }
}

.nav{
    display: flex;
    flex-wrap: wrap;

    @include breakpoint ('md'){
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 2;
        background-color: $white;
        transform: translateX(-100%);
        transition: all ease-in-out 0.3s;
    }

    &__list{
        list-style: none;
        display: flex;
        align-items: center;

        @include breakpoint ('md'){
            display: flex;
            flex-direction: column;
            margin: 0 0 20px;
            width: 100%;
        }
    }

    &__item{
        display: inline-block;
        padding: 0 30px 0 0;

        @include breakpoint ('lg'){
            padding: 0 15px 0 0;
        }

        @include breakpoint ('md'){
            padding: 0 0 42px;
        }
    }
}

.cart{
    &__list{
        list-style: none;
        display: flex;
        align-items: center;

        @include breakpoint('xs'){
            display: flex;
            flex-direction: column;            
        }
    }

    &__img{
        max-width: 16px;
    }

    &__item{
        display: inline-block;
        padding: 0 10px 0 0;

        @include breakpoint ('xs'){
            padding: 0 0 20px;
        }
    }

    &__btn{
        background-color: $black-1;
        width: 20px;
        height: 18px;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint ('md'){
            width: 8px;
            height: 18px;
        }

        @include breakpoint ('sm'){
            width: 5px;
            height: 10px;
        }
    }    
}

.nav-opener{
    display: none;

    @include breakpoint ('md'){
        display: block;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 30px;
        height: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 3;
    }

    &::before{
        content: '';
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #2F281E;
        transition: all ease-in-out 0.3s;
    }

    &::after{
        content: '';
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #2F281E;
        transition: all ease-in-out 0.3s;
    }

    span{
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2F281E;
        transition: all ease-in-out 0.3s;
    }
}