.sign-up {
    margin-bottom: 100px;
    padding: 80px 0;
    background-color: $black-1;
    color: $white;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

}

.form {
    display: flex;
    flex-wrap: wrap;
}