@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #1D1F2E;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 639px) {
  .container {
    padding: 0 16px;
  }
}

.text-holder {
  color: rgba(29, 31, 46, 0.7);
}

/* ЗАГОЛОВКИ

для заголовків прописуємо клас у вигляді class="heading heading_h-1" (цифра в кінці від заголовка залежить), типу як блок і модифіктор
*/
.heading {
  font-weight: 400;
}

.heading_h-1 {
  font-size: 47px;
  line-height: 60px;
}
@media (max-width: 639px) {
  .heading_h-1 {
    font-size: 36px;
    line-height: 45px;
  }
}

.heading_h-2 {
  font-size: 28px;
  line-height: 40px;
}
@media (max-width: 639px) {
  .heading_h-2 {
    font-size: 24px;
    line-height: 34px;
  }
}

.heading_h-3 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading_h-4 {
  font-size: 36px;
  line-height: 50px;
}
@media (max-width: 639px) {
  .heading_h-4 {
    font-size: 24px;
    line-height: 34px;
  }
}

/* Кнопки

для кнопок прописуємо клас у вигляді class="btn" - для білих, і class="btn btn_black" - для чорних. 
В секції hero кнопці окремо у файлі секції додати font-weight: 700
В секції sign up - паддінги інші прописати по ситуації
*/
.btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn_black {
  color: #fff;
  background-color: #1D1F2E;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold-webfont.ttf") format("truetype"), url("../fonts/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium-webfont.ttf") format("truetype"), url("../fonts/poppins-medium-webfont.svg#poppinsmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.ttf") format("truetype"), url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff"), url("../fonts/poppins-semibold-webfont.ttf") format("truetype"), url("../fonts/poppins-semibold-webfont.svg#poppinssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
.footer {
  font-size: 14px;
  line-height: 22px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title-holder {
  margin-bottom: 24px;
}

.footer-info {
  width: 30%;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .footer-info {
    width: 50%;
  }
}
@media (max-width: 639px) {
  .footer-info {
    width: 100%;
  }
}
.footer-info__logo-holder {
  margin-bottom: 20px;
  width: 108px;
}
.footer-info__text-holder {
  margin-bottom: 15px;
  color: rgba(29, 31, 46, 0.7);
  max-width: 300px;
}
.footer-info__text-holder_about {
  margin-bottom: 84px;
}
.footer-info__email-holder {
  font-size: 23px;
  line-height: 36px;
  margin-bottom: 55px;
}
.footer-info__copyright {
  color: rgba(29, 31, 46, 0.3);
}

.footer-menu {
  width: 30%;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 767px) {
  .footer-menu {
    width: 40%;
  }
}
@media (max-width: 639px) {
  .footer-menu {
    width: 70%;
  }
}
.footer-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-menu__list_left {
  margin-right: 50px;
}
.footer-menu__item {
  margin-bottom: 10px;
}
.footer-menu__link {
  color: rgba(29, 31, 46, 0.7);
}

.images {
  padding: 30 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .images {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .images {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.img-right {
  width: 62%;
  padding-right: 10px;
}
@media (max-width: 639px) {
  .img-right {
    width: 100%;
    margin: 0 auto;
  }
}

.img-left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 639px) {
  .img-left {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.img-up {
  padding-bottom: 5px;
}

.sign-up {
  margin-bottom: 100px;
  padding: 80px 0;
  background-color: #1D1F2E;
  color: #fff;
}
.sign-up .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}