@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #1D1F2E;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 639px) {
  .container {
    padding: 0 16px;
  }
}

.text-holder {
  color: rgba(29, 31, 46, 0.7);
}

/* ЗАГОЛОВКИ

для заголовків прописуємо клас у вигляді class="heading heading_h-1" (цифра в кінці від заголовка залежить), типу як блок і модифіктор
*/
.heading {
  font-weight: 400;
}

.heading_h-1 {
  font-size: 47px;
  line-height: 60px;
}
@media (max-width: 639px) {
  .heading_h-1 {
    font-size: 36px;
    line-height: 45px;
  }
}

.heading_h-2 {
  font-size: 28px;
  line-height: 40px;
}
@media (max-width: 639px) {
  .heading_h-2 {
    font-size: 24px;
    line-height: 34px;
  }
}

.heading_h-3 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}

.heading_h-4 {
  font-size: 36px;
  line-height: 50px;
}
@media (max-width: 639px) {
  .heading_h-4 {
    font-size: 24px;
    line-height: 34px;
  }
}

/* Кнопки

для кнопок прописуємо клас у вигляді class="btn" - для білих, і class="btn btn_black" - для чорних. 
В секції hero кнопці окремо у файлі секції додати font-weight: 700
В секції sign up - паддінги інші прописати по ситуації
*/
.btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn_black {
  color: #fff;
  background-color: #1D1F2E;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold-webfont.ttf") format("truetype"), url("../fonts/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium-webfont.ttf") format("truetype"), url("../fonts/poppins-medium-webfont.svg#poppinsmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.ttf") format("truetype"), url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff"), url("../fonts/poppins-semibold-webfont.ttf") format("truetype"), url("../fonts/poppins-semibold-webfont.svg#poppinssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
a {
  text-decoration: none;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cup-card {
  width: 49%;
  text-align: center;
}
@media (max-width: 567px) {
  .cup-card {
    width: 100%;
    margin-bottom: 50px;
  }
}
.cup-card_small {
  width: 32%;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .cup-card_small {
    width: 46%;
  }
}
@media (max-width: 567px) {
  .cup-card_small {
    width: 100%;
  }
}
.cup-card__img-holder {
  margin-bottom: 35px;
}
.cup-card__name {
  font-weight: 400;
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
.cup-card__price {
  color: rgba(29, 31, 46, 0.7);
}
.cup-card__price_red {
  color: #A25F4B;
}
.cup-card__price_crossed {
  text-decoration: line-through;
  color: rgba(29, 31, 46, 0.4);
}

.promo {
  color: #fff;
  text-align: center;
  background-color: #050827;
  margin-bottom: 123px;
}
.promo__subtitle {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.promo__title {
  margin-bottom: 10px;
}
.promo__text {
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 38px;
}
.promo__btn {
  color: #1D1F2E;
  font-weight: bold;
}
.promo .container {
  padding: 159px 0 172px;
  background-image: url("../image/hero-background.png");
  background-size: cover;
  background-position: center top;
}

.description {
  text-align: center;
  margin-bottom: 98px;
}
.description__text-holder {
  max-width: 660px;
  margin: 0 auto;
}
.description__text-holder p {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.description__title {
  font-weight: normal;
  color: #1D1F2E;
}
.description__link {
  font-size: 15px;
  padding-bottom: 5px;
  line-height: 28px;
  color: #A25F4B;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

.featured {
  margin-bottom: 115px;
}
@media (max-width: -1px) {
  .featured {
    margin-bottom: 100px;
  }
}
.featured__title {
  font-weight: normal;
  color: #1D1F2E;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
@media (max-width: 567px) {
  .featured__title {
    margin-bottom: 80px;
  }
}

.products__title {
  font-weight: normal;
  color: #1D1F2E;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
@media (max-width: 567px) {
  .products__title {
    margin-bottom: 80px;
  }
}