
// Colors
//============

$white: #fff;

$black-1: #1D1F2E; //заголовки, кнопки, фон
$black-2: rgba(29, 31, 46, 0.7); //звичайний текст, ціна
$black-3: rgba(29, 31, 46, 0.4); // закреслена ціна
$black-4: rgba(29, 31, 46, 0.3); // сірий у футері

$brown: #A25F4B;
$light-brown: rgba(162, 95, 75, 0.2); 

$gray-1: #ECECED; //лінії біля h3
$gray-2: #2F303E; //input
$gray-3: rgba(210, 210, 213, 0.1); //лінії біля h3 на чорному фоні

// Typography
//================

//Global
$font: 'Karla', sans-serif;

//Global
$font-size-global: 16px;
$font-weight-global: 400;
$line-height-global: 28px;

//Menu, капіталізований текст (там де великі літери лише), кнопки 
$font-size-capitalized: 12px;
$line-height-capitalized: 18px;
$letter-spacing-capitalized: 2px;

//Headings

//h1
$font-size-h1: 47px;
$line-height-h1: 60px;

//h1 mobile
$font-size-h1-m: 36px;
$line-height-h1-m: 45px;


//h2
$font-size-h2: 28px;
$line-height-h2: 40px;

//h2 mobile
$font-size-h2-m: 24px;
$line-height-h2-m: 34px;

//h3
$font-size-h3: 12px;
$line-height-h3: 18px;
$letter-spacing-h3: 2px;

//h4
$font-size-h4: 36px;
$line-height-h4: 50px;

//h4 mobile
$font-size-h4-m: 24px;
$line-height-h4-m: 34px;



//Cards-title тайтли карточок
$font-size-card-title: 20px;
$line-height-card-title: 30px;

//footer-text
$font-size-footer: 14px;
$line-height-footer: 22px;


